// Use the Tailwind CSS theme colors
.customModal {
  @apply bg-gray-100 bg-opacity-70 dark:bg-gray-700 dark:bg-opacity-70; // Use the primary color with opacity
  position: fixed;
  inset: 0px;
}

.customModalContent {
  position: relative;
  /* Styles for the modal content */
  @apply bg-gray-100 w-full md:m-0 shadow-md border border-gray-200 rounded-2xl dark:bg-gray-800 dark:border-gray-700;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  @apply rounded-full border-2 border-transparent;
  font-size: 1rem;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus,
.closeButton:active {
  @apply border-2 border-gray-500;
}